body {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: #fbfbfb;
  margin: 0;
}

/* title for vegetables, reviews and your order  */

.title {
  font-weight: 600;
  font-size: 48px;
  line-height: 108%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .title {
    font-size: 64px;
    line-height: 100%;
  }
}

/* all button */
.btn {
  min-width: 157px;
  height: 52px;
  background-color: #7a3145;
  font-weight: 600;
  font-size: 18px;
  line-height: 111%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: currentColor;
  border-radius: 30px;
  border: none;
}

/* Start how-it-work for your-order */
.sections {
  padding-top: 80px;
  padding-bottom: 80px;
}
@media only screen and (min-width: 768px) {
  .sections {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
